h1 {
  background-color: black;
  text-align: center;
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

input:disabled {
  background-color: transparent;
  border: 0;
  color: white;
}

.myModal,
.addPhoneModal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;

  .content {
    width: 500px;
    background-color: white;
    animation-duration: 300ms;
  }
}
